include *.txt
include cynet/*.py
include cynet/README.md
include cynet/*.pyc
include cynet/bin/*
include bin/*
include example_cynet/example2/terrortest_small.py
include example_cynet/example2/config_pypi.yaml
include example_cynet/example2/models/empty.txt
include example_cynet/example2/split/empty.txt
include example_cynet/example2/triplet/empty.txt
include example_cynet/example3.zip
include bokeh_pipe/*.csv
include bokeh_pipe/*.py
include viscynet/*.py
include *.py
include logo.png
include cynet_crime_example.pdf
include detailed_Homicide01415.png
